// global variables
@main-background: rgb(53, 124, 118);//rgb(66, 56, 95);
@main-background-dark:rgb(26, 97, 91);
@main-color: white;
@main-padding-vertical: 10px;
@main-padding-horizontal: 30px;
@main-content-width: 1200px;

// custom bootstrap
.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}

// btn success
.btn-success {
    background-color: @main-background;
    border: 1px solid @main-background;
}

.btn-success:hover {
    background-color: @main-background;
}

.btn-success:focus {
    box-shadow: none;
    background-color: @main-background;  
}

.btn-success:active {
    background-color: @main-background !important;
    box-shadow: none !important;
}

// btn outline light
.btn:focus, .btn:active {
    box-shadow: none !important;
}

// btn danger
.btn-danger {
    background-color: rgb(170, 79, 79) !important;
    border: 1px solid rgb(170, 79, 79);
}

.btn-danger:hover {
    background-color: rgb(134, 63, 63) !important;
}

.btn-danger:focus {
    background-color: rgb(134, 63, 63) !important;
    box-shadow: none !important;
}

.btn-danger:active {
    background-color: rgb(148, 79, 79) !important;
    box-shadow: none !important;
}

.btn-dark {
    border: 1px solid #343a40;
}

.btn-dark:focus {
    box-shadow: none !important;
}

.btn-dark:active {
    box-shadow: none !important;
}

.badge-success {
    background-color: rgb(53, 124, 91) !important;
}

.text-danger {
    color: rgb(170, 79, 79) !important;
}

.pointer:hover {
    cursor: pointer;
}

hr {
    border-top: 1px solid @main-background-dark !important;
}


.badge-success {
    background-color: @main-background !important;
}

input, textarea {
    border-color: @main-color;
    border-color: @main-color;
    //letter-spacing: 0.035rem;
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
}

input:focus, textarea:focus {
    border-color: @main-color !important;
}


.badge {
    padding: 8px 6px 4px 6px;
}

.shadow {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2) !important;
}

.normalFont {
    font-family: 'Ubuntu', sans-serif;
}

.textButton {
    padding: 0px;
    color: @main-color;
}

.textButton:hover {
    text-decoration: underline;
}

.muted {
    opacity: 0.8;
}